---

import "../styles/global.css";
import "../styles/fonts.css";
import "../styles/palette.css";

import config from "../config"

import Landing from "../components/Landing.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";

import Layout from "../components/layout/Layout.svelte";
---
<!-- Global Styles -->
<style>
	/* Passing down to children */
  :global(a) {
    color: var(--mint);
    transition: all 0.2s ease-out;
    text-decoration: none;
  }

  /* Change style on hover */
  :global(a:hover),
  :global(a:active) {
    color: var(--mint-8);
  }
</style>

<html lang="en">
	<head>
		<!-- Title -->
		<title>{config.siteTitle}</title>

		<!-- Preconnecting Google Fonts API -->
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
		<link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin />

		<!-- Base metadata -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={config.siteDescription} />

		<!-- OpenGraph -->
		<meta name="og:title" content={config.siteTitle} />
		<meta name="og:description" content={config.siteDescription} />
		<meta name="og:type" content="website" />
		<meta name="og:image" content={`${config.siteUrl}/images/og-image.avif`} />

		<!-- Twitter -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@{config.twitterHandle}" />
		<meta name="twitter:creator" content="@{config.twitterHandle}" />
		<meta name="twitter:title" content={config.siteTitle} />
		<meta name="twitter:description" content={config.siteDescription} />
		<meta name="twitter:image" content={`${config.siteUrl}/images/og-image.avif`} />
	</head>
	<body>
		<Layout>
			<Landing />
			<About />
			<Experience />
      <Projects />
    </Layout>
	</body>
</html>
