---
import "../styles/global.css";
import "../styles/fonts.css";
import "../styles/palette.css";

import config from "../config";
import NavBar from "@components/NavBar";
import Footer from "@components/Footer";
---

<html lang="en">
  <head>
    <!-- Title -->
    <title>{config.siteTitle}</title>

    <!-- Preconnecting Google Fonts API -->
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin />

    <!-- Base metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={config.siteDescription} />

    <!-- OpenGraph -->
    <meta property="og:title" content={config.siteTitle} />
    <meta property="og:description" content={config.siteDescription} />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content={`${config.siteUrl}${config.siteImage}`}
    />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content={config.twitter.handle} />
    <meta name="twitter:title" content={config.siteTitle} />
    <meta name="twitter:description" content={config.siteDescription} />
    <meta
      name="twitter:image"
      content={`${config.siteUrl}${config.siteImageAlt}`}
    />
  </head>
  <body>
    <!-- TODO: Enable the navbar once styling is ready -->
    <NavBar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    */
    margin: 0 auto;
    padding: 24px;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    gap: 20rem;
  }

  main > * {
    margin-top: 12rem;
    margin-bottom: 12rem;
  }
</style>

<style>
  /* Passing down to children */
  :global(a) {
    color: var(--mint);
    transition: all 0.2s ease-out;
    text-decoration: none;
  }

  :global(h1),
  :global(h2) {
    color: var(--mint);
  }

  /* Change style on hover */
  :global(a:hover),
  :global(a:active) {
    color: var(--mint-8);
  }
</style>
